NEXTJS_ENV=development
NEXT_PUBLIC_BASE_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=<SUBSTITUTE_SUPABASE_URL>
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=<SUPABASE_PUBLISHABLE_KEY>
SUPABASE_SECRET_KEY=<SUPABASE_SECRET_KEY>

DEEPSEEK_API_KEY=<DEEPSEEK_API_KEY>
DEEPSEEK_MODEL_ID=deepseek-v4-flash

STRIPE_SECRET_KEY=<STRIPE_SECRET_KEY>
STRIPE_WEBHOOK_SECRET=<STRIPE_WEBHOOK_SECRET>
NEXT_PUBLIC_UMAMI_WEBSITE_ID=<UMAMI_WEBSITE_ID>
NEXT_PUBLIC_UMAMI_SCRIPT_URL=<UMAMI_SCRIPT_URL>
