# 客户端配置，会被打包进前端文件！！
NEXT_PUBLIC_SUPABASE_URL=<SUBSTITUTE_SUPABASE_URL>
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=<SUPABASE_PUBLISHABLE_KEY>

# 服务端配置
AI_GATEWAY_API_KEY=<GOOGLE_API_KEY>

SUPABASE_SECRET_KEY=<SUPABASE_SECRET_KEY>
STRIPE_SECRET_KEY=<STRIPE_SECRET_KEY>
STRIPE_WEBHOOK_SECRET=<STRIPE_WEBHOOK_SECRET>
